* {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, video {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  padding: 0;
  overflow-wrap: break-word;
}

svg {
  fill: currentColor; 
}

:root {
  --black: #000;
  --white: #fff;
}

body.invert
{
  --black: #fff;
  --white: #000;
}

body {
  background: var(--black);

  font-weight: 400;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.5;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

p {
  margin: 0.5rem 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-full {
  flex: 1;
}

.flex-right {
  margin-left: auto;
}

.flex-row .center-y, .flex-row.center-y { align-items: center;}
.flex-col .center-y, .flex-col.center-y { justify-content: center; }

.flex-row .center-x, .flex-row.center-x { justify-content: center; }
.flex-col .center-x, .flex-col.center-x { align-items: center; }

.center {
  justify-content: center;
  align-items: center;
}

.size-24 { width: 1.5rem; height: 1.5rem; }

.padx-8  { padding: 0 0.5rem; }
.padx-16 { padding: 0 1rem; }
.padx-32 { padding: 0 2rem; }
.padx-64 { padding: 0 4rem; }

.pady-8  { padding: 0.5rem 0; }
.pady-16 { padding: 1rem 0; }
.pady-32 { padding: 2rem 0; }
.pady-64 { padding: 4rem 0; }

.pad-8  { padding: 0.5rem; }
.pad-16 { padding: 1rem; }
.pad-32 { padding: 2rem; }
.pad-64 { padding: 4rem; }

.w-full {
  width: 100%;
}

.w-1280 { max-width: 80rem; width: 100%; }
.w-800  { max-width: 50rem; width: 100%; }

.h-full {
  height: 100%;
}

.h-64 { height: 4rem; }

.csx-8  > *:not(:last-child) { margin-right: 0.5rem; }
.csx-16 > *:not(:last-child) { margin-right: 1rem; }
.csx-32 > *:not(:last-child) { margin-right: 2rem; }
.csx-64 > *:not(:last-child) { margin-right: 4rem; }

.csy-8  > *:not(:last-child) { margin-bottom: 0.5rem; }
.csy-16 > *:not(:last-child) { margin-bottom: 1rem; }
.csy-32 > *:not(:last-child) { margin-bottom: 2rem; }
.csy-64 > *:not(:last-child) { margin-bottom: 4rem; }

.c_white { color: var(--white); }
.c_black { color: var(--black); }
.bg_black { background: var(--black); }
.bg_white { background: var(--white); }

.content {
  background: var(--white);
  color: var(--black);
}

.site_name {
  font-size: 1.5rem;
  display: inline-block;
}

.code, .inline_code {
  border-radius: 2px;
  background: #272822;
  color: #F8F8F2;
  font-weight: 500;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.inline_code {
  display: inline;
  padding: 0.2rem 0.4rem;
}

.code {
  overflow-x: auto;
  padding: 1rem;
  margin: 1rem 0;
}

/*
  Monokai Theme Colors
  ---
  Background  #272822
  Foreground  #F8F8F2
  Comment #75715E
  Red #F92672
  Orange  #FD971F
  Light Orange  #E69F66
  Yellow  #E6DB74
  Green #A6E22E
  Blue  #66D9EF
  Purple  #AE81FF
*/

.tok-Keyword, .tok-Macro { color: #F92672; }
.tok-Type { color: #66D9EF; }
.tok-Comment { color: #75715E; }
.tok-Number, .tok-Literal { color: #AE81FF; }
.tok-String { color: #E6DB74 }
.tok-Function { color: #A6E22E; }
