/*
Mono:
font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
*/

html {
  margin: 0;
  background: #000;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
  min-height: 100vh;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
