* {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

img { width: 100%; }

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  overflow-wrap: break-word;
}

svg {
  fill: currentColor; 
}

:root {
  --black: #000;
  --white: #fff;
  --gray:  #bbb;
  --gray-light:  rgba(255, 255, 255, 0.25);
  --white-light: rgba(255, 255, 255, 0.1);
  --black-light: rgba(0, 0, 0, 0.1);

  --bg:    var(--black);
  --color: var(--white);
  --highlight: var(--white-light);

  --accent: #afaffc;
}

.invert
{
  --bg:    var(--white);
  --color: var(--black);
  --highlight: var(--black-light);
  --gray: #555;
  --gray-light:  rgba(0, 0, 0, 0.25);
  background: var(--bg);
  color: var(--color);
}

html {
  font-size: 16px;

  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--bg);
  color: var(--color);
  min-width: 320px;
}

.load * {
  transition: opacity 200ms, background 200ms, color 200ms;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:not(.no-hover):hover {
  opacity: 0.5;
}

p {
  margin: 1rem 0;
}

hr {
  margin: 4rem 0;
  border: 0;
  display: flex;
  justify-content: center;
}

hr:after {
  content: '';
  max-width: 100px;
  width: 100%;
  border: 1px solid var(--gray-light);
}

.link {
  border-bottom: 4px solid var(--accent);
}

.message {
  border-left: 4px solid var(--accent);
  padding: 1rem 2rem;
  margin: 2rem 0;
  font-weight: 500;
}

.c-gray { color: var(--gray); }

.bg-light { background: var(--highlight); }

.font-normal { font-weight: 400; }
.font-bold   { font-weight: 700; }

.font-16 { font-size: 1rem; }
.font-24 { font-size: 1.5rem; }
.font-32 { font-size: 2rem; }


.inline-block { display: inline-block; }
.inline-flex  { display: inline-flex; }

.flex-x {
  display: flex;
  flex-direction: row;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.align-right {
  margin-left: auto;
}

.flex-row.center-y { align-items: center;}
.flex-col.center-y { justify-content: center; }

.flex-row.center-x { justify-content: center; }
.flex-col.center-x { align-items: center; }

.flex-x.center-y { align-items: center;}
.flex-y.center-y { justify-content: center; }

.flex-x.center-x { justify-content: center; }
.flex-y.center-x { align-items: center; }

.center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: 1fr;
}

.size-16 { width: 1rem; height: 1rem; }
.size-20 { width: 1.25rem; height: 1.25rem; }
.size-24 { width: 1.5rem; height: 1.5rem; }
.size-32 { width: 2rem; height: 2rem; }

.padx-8  { padding-left: 0.5rem; padding-right: 0.5rem; }
.padx-16 { padding-left: 1rem; padding-right: 1rem; }
.padx-32 { padding-left: 2rem; padding-right: 2rem; }
.padx-64 { padding-left: 4rem; padding-right: 4rem; }

.pady-8  { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pady-16 { padding-top: 1rem; padding-bottom: 1rem; }
.pady-32 { padding-top: 2rem; padding-bottom: 2rem; }
.pady-64 { padding-top: 4rem; padding-bottom: 4rem; }

.pad-8  { padding: 0.5rem; }
.pad-16 { padding: 1rem; }
.pad-32 { padding: 2rem; }
.pad-64 { padding: 4rem; }

.mary-32 { margin-top: 2rem; margin-bottom: 2rem; }
.marb-32 { margin-bottom: 2rem; }

.w-full { width: 100%; }
.w-1280 { max-width: 80rem; width: 100%; }
.w-800  { max-width: 50rem; width: 100%; }

.h-full { height: 100%; }
.h-64   { height: 4rem; }
.h-128  { height: 8rem; }
.h-144  { height: 9rem; }
.h-160  { height: 10rem; }
.h-200  { height: 12.5rem; }
.h-320  { height: 20rem; }

.csx-8  > *:not(:last-child) { margin-right: 0.5rem; }
.csx-16 > *:not(:last-child) { margin-right: 1rem; }
.csx-32 > *:not(:last-child) { margin-right: 2rem; }
.csx-64 > *:not(:last-child) { margin-right: 4rem; }

.csy-8  > *:not(:last-child) { margin-bottom: 0.5rem; }
.csy-16 > *:not(:last-child) { margin-bottom: 1rem; }
.csy-32 > *:not(:last-child) { margin-bottom: 2rem; }
.csy-64 > *:not(:last-child) { margin-bottom: 4rem; }

.bg {
  position: absolute;
  z-index: -1;
  opacity: 0.25;
}

a:hover .bg {
  opacity: 0.75;
}

.hero {
  aspect-ratio: 2 / 1;
  max-height: 55vh;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  max-width: 48rem;
  margin: 0 auto;
  width: 100%;
}

.content :is(h2, h3, h4, h5, h6) {
  margin: 2.5rem 0 0.5rem 0;
}

.content .link {
  word-break: break-all;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.round {
  border-radius: 2px;
}

.round-2 {
  border-radius: 4px;
}

.crop {
  overflow: hidden;
}

.quote {
  border-radius: 4px;
  background: #272822;
  color: #F8F8F2;
  font-weight: 500;
  white-space: pre-line;
  padding: 2rem;
  margin: 2rem 0;
}

/** Code snippets */

.code, .inline_code {
  border-radius: 4px;
  background: #272822;
  color: #F8F8F2;
  font-weight: 500;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.9em;
}

.inline_code {
  white-space: nowrap;
  display: inline;
  padding: 0.1rem 0.4rem;
}

.code {
  overflow-x: auto;
  padding: 2rem;
  margin: 2rem 0;
}

.no_select {
  user-select: none;
}

/*
  Monokai Theme Colors
  ---
  Background  #272822
  Foreground  #F8F8F2
  Comment #75715E
  Red #F92672
  Orange  #FD971F
  Light Orange  #E69F66
  Yellow  #E6DB74
  Green #A6E22E
  Blue  #66D9EF
  Purple  #AE81FF
*/

.tok-Keyword, .tok-Macro { color: #F92672; }
.tok-Type { color: #66D9EF; }
.tok-Comment { color: #75715E; }
.tok-Number, .tok-Literal { color: #AE81FF; }
.tok-String { color: #E6DB74 }
.tok-Function { color: #A6E22E; }


/** breakpoints */

@media screen and (max-width: 640px)
{
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 961px)
{
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1441px)
{
  html {
    font-size: 20px;
  }

  .xl\:h-480 {
    height: 30rem;
  }
}

@media screen and (max-width: 960px)
{
  .md\:flex-x {
    display: flex;
    flex-direction: row;
  }

  .md\:flex-y {
    display: flex;
    flex-direction: column;
  }

  .md\:csy-8 > *:not(:last-child) { margin-bottom: 0.5rem; }

  .md\:pad-32 { padding: 2rem; }
}

@media screen and (max-width: 640px)
{
  .sm\:flex-x {
    display: flex;
    flex-direction: row;
  }

  .sm\:flex-y {
    display: flex;
    flex-direction: column;
  }

  .sm\:csy-8 > *:not(:last-child) { margin-bottom: 0.5rem; }

  .sm\:pad-32 { padding: 2rem; }
  .sm\:pad-16 { padding: 1rem; }

  .sm\:padx-32 { padding-left: 2rem; padding-right: 2rem; }

  .sm\:h-160  { height: 11rem; }
  .sm\:h-240  { height: 15rem; }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 480px)
{
  .xs\:flex-y {
    display: flex;
    flex-direction: column;
  }
}